@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: springgreen;
}

.hide {
    display: none;
}
.car {
    z-index: 100;
    width: 50px;
    height: 100px;
    background: transparent url('./image/newPlayer.png') center / cover no-repeat;
    position: absolute;
}

.enemy {
    z-index: 100;
    width: 50px;
    height: 100px;
    background: transparent url('./image/newEnemy2.png') center / cover no-repeat;
    position: absolute;
    left: 125px;
    bottom: 0px;
}

.gameArea {
    z-index: 10;
    width: 300px;
    height: 100vh;
    position: relative;
    background: #222;
    margin: auto;
    overflow: hidden;
}

.line {
    z-index: 100;
    position: absolute;
    width: 10px;
    height: 50px;
    background: orange;
    left: 145px;
}

.start {
    position: absolute;
    padding: 10px 0;
    margin: 250px 20px 0;
    width: 250px;
    text-align: center;
    z-index: 200;
    cursor: pointer;
    font-size: 35px;
    color: teal;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: 5px solid darkgray;
    border-radius: 100px;
    transition: 1s;
    background: #222;
}

.start:hover
{
    box-shadow: 0 5px 50px 0 dimgray inset;
    text-shadow: 0 0 5px teal;
}

.score {
    position: absolute;
    z-index: 200;
    color: mediumseagreen;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0 0 10px;
    font-size: 18px;
}